@font-face {
  font-family: 'Abel';
  src: url('./fonts/Abel/Abel-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato/Lato-Regular.ttf');
}

* {
  box-sizing: border-box !important;
}

body {
  font-family: 'Lato';
}

h1, h2, h3, h4, h5, p, ul, li, input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
} 

.tag {
  background-color: #fff;
  color: var(--color-primary);
  padding: 5px 10px;
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  margin-right: 6px;
  font-size: 0.8rem;
}

.score-circle {
    font-family: 'Abel';
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    border-radius: 50%;
}

/* MEDIA QUERIES ------------------------------------------------- */

@media only screen and (max-width: 768px){
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 535px){

}
@media only screen and (max-width: 375px){
}